.card{
  border: 1px solid rgb(51, 48, 48);
  border-radius: 10px;
  box-shadow:  5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 550px;
  display: block;
  height: auto;
  max-height: 70%;
}

.card .card-image{
  max-width: 50%;
  height: 100px;
  border-radius: 4%;
  margin-bottom: 15px;
  display: inline-flex;

}
.card .card-title{
  font-family: Arial, sans-serif;
  margin:0;
  color: rgb(44, 57, 53);
}

.card .card-text{
  font-family: Arial, Helvetica, sans-serif;
  color: dimgray;
}


.table{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid goldenrod;
  
}
.table p{
  margin:0;
}
.welcome-message{
  font-size: 2.5em;
  background-color: rgb(157, 131, 92);
  color: aliceblue;
  padding: 10px;
  border-radius: 5px;
  margin:0;
}
.login-prompt{
  font-size: 2.5em;
  background-color: rgb(85, 11, 11);
  color: aliceblue;
  padding: 10px;
  border-radius: 5px;
  margin:0;
}