/* .card{
  border: 1px solid rgb(51, 48, 48);
  border-radius: 10px;
  box-shadow:  5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 550px;
  display: block;
  height: auto;
  max-height: 70%;
}

.card .card-image{
  max-width: 50%;
  height: 100px;
  border-radius: 4%;
  margin-bottom: 15px;
  display: inline-flex;

}
.card .card-title{
  font-family: Arial, sans-serif;
  margin:0;
  color: rgb(44, 57, 53);
}

.card .card-text{
  font-family: Arial, Helvetica, sans-serif;
  color: dimgray;
}


.table{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid goldenrod;
  
}
.table p{
  margin:0;
}
.welcome-message{
  font-size: 2.5em;
  background-color: rgb(157, 131, 92);
  color: aliceblue;
  padding: 10px;
  border-radius: 5px;
  margin:0;
}
.login-prompt{
  font-size: 2.5em;
  background-color: rgb(85, 11, 11);
  color: aliceblue;
  padding: 10px;
  border-radius: 5px;
  margin:0;
}
.order{
  align-items: center;
  margin-top: auto;
  padding: 10px;
}
.order-input{
  margin:5px 10px;
  
}
.add-to-cart{
  background-color: hsl(0, 90%, 39%);
  border:none;
  border-radius: 3px;
  color: azure;
  max-width: 100px;
  max-height: 40px;
  height: 24px;
}
.inc-quantity-button{
  background-color: hsl(0, 90%, 39%);
  border:none;
  border-radius: 3px;
  color: azure;
  max-width: 100px;
  max-height: 40px;
  height: 24px;

}
.add-item{
  margin: 30px , 20px , 10px, 10px;
  align-items: center;
  justify-content: center;
  
}
.quantity{
  margin: 30px , 20px , 30px, 20px;
}
.payment{
  margin: 30px , 20px , 30px, 20px;
  align-items: center;
  justify-self:center;
}
.pay-option{
  margin: 20px, 30px, 40px, 20px;
} */

body{
  font-family: Arial, Helvetica, sans-serif;

}
.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  margin: 50px;
  font-size: 3rem;
}
.color-display{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid hsl(0, 0%,80%);
  border-radius: 25px;
  margin-bottom: 25px;
  transition: 0.25 ease;
}
.color-display p{
  color: hsl(0, 0%,20%);
  font-size: 2rem;
  text-align: center;
}
label{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;

}
input[type="color"]{
  width: 75px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid hsl(0, 0%,80%);
}